[bumpversion]
current_version = 0.6.9
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize =
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]

[bumpversion:part:build]

[bumpversion:file:./alphastats/__init__.py]

[bumpversion:file:./setup.py]

[bumpversion:file:./docs/conf.py]

[bumpversion:file:./release/linux/control]

[bumpversion:file:./release/linux/build_installer_linux.sh]

[bumpversion:file:./release/linux/create_installer_linux.sh] # TODO remove with old release workflow

[bumpversion:file:./release/macos/Info.plist]

[bumpversion:file:./release/macos/build_installer_macos.sh]

[bumpversion:file:./release/macos/build_package_macos.sh]

[bumpversion:file:./release/macos/create_installer_macos.sh] # TODO remove with old release workflow

[bumpversion:file:./release/macos/distribution.xml]

[bumpversion:file:./release/windows/alphastats_innoinstaller.iss]

[bumpversion:file:./release/windows/build_installer_windows.ps1]

[bumpversion:file:./release/windows/create_installer_windows.sh] # TODO remove with old release workflow

search = {current_version}
replace = {new_version}
