pandas==2.0.2
scikit-learn==1.2.2
data_cache>=0.1.6
plotly==5.15.0
statsmodels==0.14.0
sklearn_pandas==2.2.0
pingouin==0.5.3
scipy==1.10.1
tqdm>=4.64.0
diffxpy==0.7.4
anndata==0.9.1
umap-learn==0.5.3
streamlit==1.31.1
tables==3.7.0
numpy==1.23.5
numba==0.56.4
numba-stats==0.5.0
swifter==1.2.0
click==8.0.1
kaleido==0.2.1
combat==0.3.3
xlsxwriter==3.1.0
pyteomics==4.6.0
openpyxl>=3.0.10
nbformat>=5.0
biopython==1.83
openai==1.12.0