pandas
sklearn
data_cache
dash_bio
plotly
iteration_utilities
openpyxl
sklearn_pandas
pingouin

[:sys_platform == "win32"]
pywin32==225

[development]
jupyter
jupyter_contrib_nbextensions
pyinstaller
autodocsumm
sphinx-rtd-theme
twine
bumpversion
pipdeptree
ipykernel
tqdm
psutil

[development-stable]
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.1
pyinstaller==4.2
autodocsumm==0.2.6
sphinx-rtd-theme==0.5.2
twine==3.4.1
bumpversion==0.6.0
pipdeptree==2.1.0
ipykernel==6.4.0
tqdm==4.61.1
psutil==5.8.0

[stable]
pandas>=1.4
sklearn
data_cache
dash_bio>=1
plotly>=5
iteration_utilities
openpyxl>=3
sklearn_pandas
pingouin